.image-div-1 {
  position: relative;
  z-index: 1;
  margin-right: auto;
}

.image-div-2 {
  position: absolute;
  z-index: 3;
  bottom: -2rem;
  right: -5em;
}
.image-1 {
  width: 30vw;
  max-width: 400px;
}
.image-2 {
  width: 20vw;
  max-width: 266px;
}

@media screen and (max-width: 1000px) {
  .image-div-1 {
    margin-bottom: 5vh;
  }
  .image-1 {
    width: 45vw;
  }
  .image-2 {
    width: 35vw;
  }
}
