.image-div-1 {
    position: relative;
    z-index: 1;
    margin-right: auto;
  }
  
  .image-div-2 {
    position: absolute;
    z-index: 3;
    bottom: -2rem;
    right: -1rem;
  }
  .image-1 {
    width: 50vw;
  }
  .image-2 {
    width: 20vw;
  }
  
  @media screen and (max-width: 768px) {
    .image-div-1 {
        margin-bottom: 5vh;
    }
    .image-1 {
      width: 70vw;
    }
    .image-2 {
      width: 30vw;
    }
  }
  