.header-text {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #1A1919;
    text-align: left;
    margin-bottom: 1rem;    
}

.hr-line {
    border: 1px solid #CCCCCC;
}