
.subheader {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #4B4B4B;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    
}

@media screen and (max-width: 768px) {
    .subheader {
        font-size: 25px;
    }
}