.link-reversed {
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #3C6E71;
    text-decoration: none;
    margin-right: 0.5rem;
}
.link {
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #3C6E71;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}