.text {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #7e7e7e;
  margin-right: 1rem;
}
.mono-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #7e7e7e;
  margin-right: 1rem;
}

.left-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.left-stack > div {
  margin: 0 0.5rem;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  margin-top: 3rem;
}

.social > div {
  margin-right: 10px;
}

.body-text-container {
  width: 50%;
  min-width: 500px;
  margin-left: 0px;
  margin-right: auto;
}

.header-background {
  background-image: url("./svgs/background-triangle.svg"),
    linear-gradient(#f8fbfb, #ecf1f1);
  background-size: cover;
  margin: 0px;
}
