.left-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.left-stack > div {
  margin-right: 1rem;
}

.text {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #6a6d72;
  margin-right: 1rem;
}

.description-wrapper {
  margin-bottom: 7rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1000px) {
  .description-wrapper {
    max-width: 80%
  }
}

@media screen and (max-width: 1000px) {
  .text {
    font-size: 20px;
  }
}

