.wrapper {
    padding: 15rem 5rem;
    padding-top: 10rem;
}
.wrapper-compact {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;

}
@media screen and (max-width: 768px) {
    .wrapper {
        overflow-x: hidden;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .wrapper-compact {
        padding-left: 3rem;
        padding-right: 3rem;


    }
}