.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    z-index: 10;
}
.white {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.5s 0s ease;
}
.clear {
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.5s 0s ease;
}
.name-header {
    font-family: "Rubik", sans-serif;
    margin-right: 4rem;
    transition: all 0.5s 0s ease;
}

@media screen and (max-width: 768px) {
    .name-header {
        font-size: 1em;
        margin-right: 1em;
    }
    .header {
        padding: 0rem 3rem;
    }
}