.skill-row {
  background-image: linear-gradient(
    to bottom,
    rgba(60, 110, 113, 0.1),
    rgba(60, 110, 113, 0.05)
  );
  border-radius: 10px;
  padding: 1rem;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 0rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  max-width: 1500px;
}

.skill-group-header-text {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #8d8c8c;
  margin-bottom: 0rem;
}

@media screen and (max-width: 1000px) {
  .skill-group-header-text  {
    font-size: 20px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem
  }
}