.project-wrapper {
    margin: 15vh 0 ;
    margin-right: 5rem;
    width: 40vw;
}
.header-text {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #8D8C8C;
    text-align: left;   
}
.text {
    font-family: 'Rubik', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: #4B4B4B;
    text-align: left; 
}
.left-stack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10rem;
}