.description-wrapper {
    max-width: 1000px;
}

.project-wrapper {
  margin-top: 15vh;
  margin-bottom: 15vh;
  max-width: 40vw;
}

.right-based {
  margin-right: auto;
  margin-left: 15vw;
}

.left-based {
  margin-left: 0;
  margin-right: 5vw;
}


@media screen and (min-width: 2000px) {
    .right-based {
      margin-left: 7vw;
    }
  }
  

.project-wrapper-small {
  margin: 25vh 0;
  margin-top: 0vh;
}

.header-text {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #8d8c8c;
  text-align: left;
}
.text {
  font-family: "Rubik", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #4b4b4b;
  text-align: left;
}
.left-stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10rem;
}

