.skill-text {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #4b4b4b;
  white-space: nowrap;
}
.skill-text-compact {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #4b4b4b;
  white-space: nowrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.icon {
  height: 1.3rem;
  margin-right: 0.5rem;
}
.left-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.left-stack-compact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1000px) {
  .skill-text {
    font-size: 20px;
  }
  .icon {
    height: 15px;
  }
}
